main{
    padding: 1.5rem;
}

.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form--control{
    margin: 1rem 0;
}

.form--control input{
    display: block;
    border: 1px solid rgb(117, 0, 130);
    font: inherit;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
    
}
button{
    font: inherit;
    border: 1px solid rgb(117, 0, 130);
    color: rgb(117, 0, 130);
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover,
button:active{
    background-color: rgb(117, 0, 130);
    color: rgb(233, 214, 0);
}